a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  .next {
      
    background-color: #E9ECEF;
    color: white;
  }
  .f{
      padding-left:58%;
      padding-top:10px;
  }
  