body {
	margin:  0;
}
.page-content {
	width: 100%;
    margin:  0 auto;
    padding: 5%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-register .steps {
	margin-bottom: 33px;
}
.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    list-style: none;
    padding-left: 0;
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
    padding-bottom: 3px;
    padding-right: 63px;
}
.form-register .steps li:last-child {
	padding-right: 0;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li::before {
	position: absolute;
	content: "";
	background: #e5e5e5;
	width: 218px;
	height: 6px;
	top: 20%;
    left: 47%;
}
.form-register .steps li:last-child::before {
	content: none;
}
.form-register .steps li.current::after {
	position: absolute;
	content: "";
	width: 45px;
	height: 3px;
	background: #ccc;
	top: 100%;
	left: 25%;
}
.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a .title {
	text-align: center;
}
.form-register .steps li a .title span {
	display: block;
	font-size: 16px;
}
.form-register .steps li a .title .step-icon { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ccc;
    margin: 0 auto;
    position: relative;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    color: #fff;
    font-size: 20px;
}
.form-register .steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps .done::before,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
    background: #6eba2a;
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon {
	box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
}
.form-register .steps li a .step-number {
	color: #666;
	font-weight: 400;
    padding: 17px 0 8px;
}
.form-register .steps li a .step-text {
	color: #333;
	font-weight: 600;
	padding-bottom: 8px;
}
.form-register .content {
	background: #fff;
	border-radius: 5px;
	-o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5%;
    padding-right: 0%;
}
.form-register .content h2 {
	display: none;
}
.inner .form-row {
    display: flex;
    margin: 0 -13px;
    position: relative;
}
.inner .form-row {
	width: 100%;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0 13px;
    margin-bottom: 22px;
    position: relative;
}
.inner .form-row .form-holder label {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	padding-bottom: 11px;
	display: block;
}
.inner .form-row .form-holder .custom-file label {
	font-size: 16px;
	font-weight: 500;
	color: #495057;
	padding-bottom: 11px;
	display: block;
}
.inner .form-row .form-holder input {
    width: 100%;
    padding: 13px 25px;
    border-block-color: #495057;
    background: #fff;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #495057;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.inner .form-row .form-holder input::placeholder {
    color: rgba(255,255,255,0.6);
    font-size: 15px;
}
.inner .form-row .form-holder input::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(255,255,255,0.6);
   font-size: 15px;
}
.inner .form-row .form-holder input::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(255,255,255,0.6);
   font-size: 15px;
}
.inner h3{
	font-weight: 600;
	color: #000;
	margin: 0 0 11px;
}
.radios {
    width: 1000px;
	overflow: hidden;
	color: #000;
}
.inner h4, h5, h6 {
	font-weight: 400;
	color: #000;
}
.inner label {
	color: #000;
	font-size: x-large;
}
.form-row button {
    padding: 0;
    margin-left: 94%;
    border: none;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    display: inline-flex;
    height: 45px;
    width: 60px;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.actions ul {
	list-style: none;
	padding-left: 0;
    margin: 15px 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.actions ul li.disabled {
	opacity: 0;
}
.actions ul li {
	padding: 0;
    border: none;
    margin-right: 1%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    display: inline-flex;
    height: 45px;
    width: 60px;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #6eba2a;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.actions ul li:hover {
	background: #5fa125;
}
.actions ul li:first-child {
	background: transparent;
	border-radius: 0;
	-o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
	box-shadow: none;
	-o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.actions ul li a {
	color: #fff;
	text-decoration: none;
    padding: 15px 20px;
}
.actions ul li:first-child a {
	color: #666;
}
.actions ul li a i {
	font-size: 18px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.form-register .content {
	    padding: 32px 75px 23px 75px;
	}
}
@media screen and (max-width: 991px) {
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row.form-row-2 {
		width: 100%;
	}
	.inner .form-row .form-holder {
		padding: 0;
		width: 100%;
	}
}
@media screen and (max-width: 575px) {
	.form-register .content {
		padding: 40px 20px;
		width: auto;
	}
	.form-register .steps li, .form-register .steps li.current {
		padding-right: 5px;
	}
	.form-register .steps li::before {
		width: 65px;
		top: 15%;
    	left: 70%;
	}
	.form-register .steps li.current::after {
		left: 28%;
	}
} 