<html>
Index Page ! AIP started.
Basic Details about project structure
1] Main Project AIP which connects all decoupled modules and has index page.
2] Accounts app to handle all login,signup,forget password,logout related functionality.
3] Recruiter app to handle create job, assess candidate, library, feedback+faq, edit profile.
4] Candidate app to handle view jobs, apply to job (video interview), pending interview or applied for results.
5] Maintainer app to handle accounts (delete,block), analysis of platform (num of jobs, company, application)
</html>