{% extends "./nav.html" %}
{% load static %}
{% block content %}
      <section class="first-sec">
        <div class="container-fluid ">
            <div class="row row1">
                <div class="col-sm text-center text-col">
                      <div class="intro-text">
                        <h1>
                            The <span class="fast">Fastest</span>
                        </h1>
                        <h2>
                            Way to Hire
                        </h2>
                        <div id="wrapper">
                                <h1>
                                  <span id="word-holder"></span>
                                </h1>
                                <br/>
                             <a href="./login"> <button class="btn fourth"> Sign In &nbsp;<i class="fa fa-long-arrow-right"></i></button></a>
                              </div>
                              
                        </div>
                </div>
                <div class="col-sm image-col">
                    <img src="../../static/AIP/img/btech 1.jpg" class="rounded mx-auto d-block" alt="AMP view image">
                </div>
            </div>
        </div>
      </section>

      <section class="second-sec">
        
      </section>

{% endblock content %}     
      

