<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../static/AIP/css/signin.css">
    <title>AIP: login</title>




<!-- <link rel="stylesheet" href="../public/assests/index.css"> -->
    </head>
    <body>






<div class="auth">
    <div class="auth__header">
      <!-- <div class="auth__logo row " style="margin-top: -50px" >
        <img height="90"  src="./assests/logocc.png" alt="">
      </div> -->
    </div>
    <div class="auth__body">
      <form class="auth__form" autocomplete="off" method="POST">
        <div class="auth__form_body">
          <h3 class="auth__form_title">Sign in</h3>
          <div>
            <div class="form-group">
              <label class="text-uppercase small">Email ID</label>
              <input type="email" name="mail" class="form-control" placeholder="Enter Email ID">
            </div>
            <div class="form-group">
              <label class="text-uppercase small">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Enter Password">
            </div>
          </div>
        </div>
        <div class="auth__form_actions">
          <button class="btn btn-primary btn-lg btn-block">
            LOGIN
          </button>
        </div>
        <hr/>
      </form>
      <div class="container-fluid">
      
      <h3 class="" style="color:#29b8e5;text-align:center;">Not Registered?</h3>
      <div class="row mt-3 justify-content-md-center justify-content-sm-center">
        <div class="col"></div>
        <div class="col-md-5 mt-4" >
          <div class="auth__form_actions">
            <a href=".././candidate signup" class="btn btn-primary btn-lg btn-block" style="width:50%;">
                Signup as Candidate
            </a>
            </div>
        </div>
        <div class="col-md-5 mt-4 ">
          <div class="auth__form_actions">
            <a href=".././recruiter signup" class="btn btn-primary btn-lg btn-block" style="width:50%;">
                Signup as Recruiter
            </a>
            </div>
        </div>
        </div>
      </div>
    </div>
    <!-- <hr/>
    <h3 class="mt-5" style="color:#584dc3;text-align:center;">Not Registered?</h3>
    <div class="row mt-3 justify-content-sm-center">
          <a  class="btn btn-outline-primary mr-5" href="signups" style="color:primary">Signup with spouse</a>
          <a  class="btn btn-outline-primary" href="signupws" style="color:primary">Signup without spouse</a>
      </div> -->
  </div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</body>

</html>