{% extends "recruiter/base.html" %}
{% block title %}Apli.ai | Dashboard{% endblock title %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

<!-- Icon Cards-->
<div class="row" style="padding: 10px;">
    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-12" style="height: 175px">
                <div class="card text-white bg-info mb-3" style="width: 100%; height:100%;">
                  <div class="card-header"><center><b><i class="fas fa-exclamation-circle fa-lg"></i>Tips</b></center></div>
                  <div class="card-body" style="height:100%; overflow-y:auto">
                    <h5 class="card-text">{{tip.tips}}</h5>
                  </div>
                </div>
            </div>
            <div class="col-12" style="height: 175px; padding-top:10px;" >
                <div class="text-white bg-dark shadow-sm align-middle col-xs-1 center-block text-center card">
                  <div style="display: flex;flex: 1 1 auto;margin-top:18px">
                    <div style="margin:5%; margin-left: 10%">
                      <img width="100px" height="100px" class="rounded-circle" src="{% static 'recruiter/image/demo_avatar.png' %}"
                        alt="Card image cap" />
                    </div>
                    <div class="card-body">
                      <h4 style="" class="card-title">{{name}}</h4>
                      <div class="card-text">
                        <p style="margin:0px;"><strong>Position :</strong> {{position}} </p>
                        <p><strong>Role :</strong> {{role}}</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8" style="height: 350px;">
        <div style="background:#ffffff;">
            {% if jobs.items %}
                <canvas id="pie-chart" class="canvas" style="height:350px;width:100%;"></canvas>
            {% else %}
                <center><h5> Post wise Jobs</h5>
                <img id="NODATA" width="90%" height="310px" src="{% static 'recruiter/image/nodata.png' %}" alt="The Scream" style="padding:0px;">
                </center>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8" style="padding: 10px;">
        <div class="row">
            <div class="col-12" style="height:369px;">
                <div style="background-color:#ffffff;">
                    {% if appGraph.jobs %}
                        <canvas id="StackedBar" style="height:369px; width:100%"></canvas>
                    {% else %}
                        <center>
                        <h5>Application Status per Job</h5>
                        <img id="NODATA" width="90%" height="310px" src="{% static 'recruiter/image/nodata.png' %}" alt="The Scream"  style="padding:0px;">
                        </center>
                    {% endif %}
                </div>
            </div>
            <div class="col-12" style="height:429px;margin-top:10px;">
                <div class="shadow-sm card" style="height:100%;">
                    <div class="card-header">Top 5 Scorers</div>
                    <div class="card-body" style="overflow-y: auto">
                        <table class="table table-bordered table-striped">
                          <thead class="text-white" style="background-color: #A3A1FB">
                            <tr>
                                <th>Details</th>
                                <th>Score</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if scores %}
                            {% for entry in scores %}
                            <tr>
                                <th>{{entry.0}}</th>
                                <th>{{entry.1}}</th>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <th>No Scoring Done Yet</th>
                                    <th></th>
                                </tr>
                            {% endif %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4" style="padding: 10px;">
        <div style="height:808px;">
            <div class=" shadow-sm card h-100" >
              <div class="card-header"><h4>Timeline</h4></div>
              <div class="card-body" style="margin-top:30px;overflow-y: auto">
                <ul class="timeline">
                  {% if activity %}
                  {% for act in activity %}
                  {% if act.type == "job_posted" %}
                  <li>
                    <a style="color:#007bff">Job Posted</a><br>
                    On <a style="color:#007bff" class="text-center">{{act.timestamp}}</a>
                    <p> <b>{{act.by_dict.name}} </b> posted a job for {{act.job_post}}</p>
                  </li>
                  {% elif act.type == "job_removed" %}
                  <li>
                    <a style="color:#007bff">Job Post Removed</a><br>
                    On <a style="color:#007bff" class="text-center">{{act.timestamp}}</a>
                    <p> <b>{{act.by_dict.name}} </b> removed the job for {{act.job_post}}</p>
                  </li>
                  {% elif act.type == "hired" %}
                  <li>
                    <a style="color:#007bff">Candidate Hired</a><br>
                    On <a style="color:#007bff" class="text-center">{{act.timestamp}}</a>
                    <p> <b>{{act.by_dict.name}} </b> hired {{act.cand_name}} as {{act.job_post}}</p>
                  </li>
                  {% elif act.type == "user_removed" %}
                  <li>
                    <a style="color:#007bff">User Removed</a><br>
                    On <a style="color:#007bff" class="text-center">{{act.timestamp}}</a>
                    <p> <b>{{act.by_dict.name}} </b> removed {{act.useremail}} from the team</p>
                  </li>
                  {% elif act.type == "user_added" %}
                  <li>
                    <a style="color:#007bff">User Added</a><br>
                    On <a style="color:#007bff" class="text-center">{{act.timestamp}}</a>
                    <p> <b>{{act.by_dict.name}} </b> added {{act.useremail}} as {{act.role}}</p>
                  </li>
                  {% elif act.type == "role_changed" %}
                  <li>
                    <a style="color:#007bff">Role Changed</a><br>
                    On <a style="color:#007bff" class="text-center">{{act.timestamp}}</a>
                    <p> <b>{{act.by_dict.name}} </b> changed {{act.useremail}} from {{act.from_role}} to {{act.to_role}}</p>
                  </li>
                  {% endif %}
                  {% endfor%}
                  {% else %}
                  <li>
                    <a style="color:#007bff">No Activity Yet</a><br>
                    <p>Try posting a job or doing other activities. &#128526;</p>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 10px;">
    <div class="col-12 col-lg-6" style="padding-right: 10px;padding-left: 0px">
        <div>
            <div class=" shadow-sm card">
                <div class="card-header">Active Members</div>
                  <div class="card-body" style="max-height: 350px ; overflow-y:auto" >
                      <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <thead class="text-white" style="background-color: #A3A1FB">
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Position</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if teams %}
                          {% for member in teams %}
                            <tr>
                                <th> {{member.name}} </th>
                                <th> {{member.role}} </th>
                                <th> {{member.position}} </th>
                            </tr>
                          {% endfor %}
                          {% else %}
                              <tr>
                                  <th>No Active Members</th>
                                  <th></th>
                                  <th></th>
                              </tr>
                          {% endif %}
                        </tbody>
                      </table>
                  </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6" style="padding-right: 0px;padding-left: 10px">
        <div class="card shadow-sm">
                <div class="card-header">
                    Inactive Members
                </div>
                <div class="card-body" style="max-height: 350px ; overflow-y:auto" >
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead class="text-white" style="background-color: #A3A1FB">
                      <tr>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% if inactive %}
                        {% for member in inactive %}
                            <tr>
                                <th> {{member.email}} </th>
                                <th> {{member.role}} </th>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                                <th>No Inactive Members</th>
                                <th></th>
                            </tr>
                        {% endif %}
                      </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
</div>

<script>

    {% if jobs.items %}
    var pieChart = new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: [
              {% for post,count in jobs.items %}
                  '{{post}}',
              {% endfor %}
              ],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: [{% if jobs.items %}{%for item in jobs%}getRandomColor(),{% endfor %}{% else %}"#3e95cd", "#8e5ea2","#c45850","#h2k323"{%endif%}],
        data: [
            {% for post,count in jobs.items %}
                    {{count}},
                {% endfor %}
                ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Post Wise Number of Jobs'
      }
    }
    });
    {% endif %}
    {% if appGraph.jobs %}
    new Chart(document.getElementById("StackedBar"),{
        type: 'bar',
        data : {
            labels: [
                    {% for job in appGraph.jobs %}
                        '{{job}}',
                    {% endfor %}
            ],
            datasets : [{
                label: "Accepted",
                backgroundColor : '#3cba9f',
                data : {{appGraph.accepted}}
            },{
                label: "Rejected",
                backgroundColor : '#c45850',
                data : {{appGraph.rejected}}
            },{
                label: "Waiting",
                backgroundColor : '#3e95cd',
                data : {{appGraph.waiting}}
            },],
        },
        options: {
            title: {
                display: true,
                text: 'Applications per Job'
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });
    {% endif %}
    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>

{% endblock content %}
