<!-- 

Note : do no format this file 
Cation : formatting this file will lead to errors

-->

<script>
let to{{job_app.appid}} = "";
let date{{job_app.appid}} = "";
let time{{job_app.appid}} = ""; 
let interviewDuration{{ job_app.appid }} = ""; 
let interviewer{{job_app.appid}} = $("#interviewer{{job_app.appid}}").val();
let locationvalue{{ job_app.appid }} = "";

let subject{{ job_app.appid }} = `Interview on ${date{{job_app.appid}}} at ${time{{job_app.appid}}} with ${interviewer{{job_app.appid}}}`;
let message{{ job_app.appid }} = 
`${interviewer{{job_app.appid}}} invited you for Interview

When : 
${date{{job_app.appid}}} at ${time{{job_app.appid}}}

Location : 
${locationvalue{{ job_app.appid }}}

Interviewer : 
${interviewer{{ job_app.appid }}}
`;


$("#datepicker{{job_app.appid}}").on("change", function () {
  date{{job_app.appid}} = $("#datepicker{{job_app.appid}}").val();
    console.log(date{{job_app.appid}});
    subject{{ job_app.appid }} = `Interview on ${date{{job_app.appid}}} at ${time{{job_app.appid}}} with ${interviewer{{job_app.appid}}}`;
    let message{{ job_app.appid }} = 
`${interviewer{{job_app.appid}}} invited you for Interview

When : 
${date{{job_app.appid}}} at ${time{{job_app.appid}}}

Location : 
${locationvalue{{ job_app.appid }}}

Interviewer : 
${interviewer{{ job_app.appid }}}
`;

    $("#emailsubjectvalue{{job_app.appid}}").val(subject{{ job_app.appid }});
    $("#emailmessagevalue{{job_app.appid}}").val(message{{ job_app.appid }});
    

});

$("#interviewer{{job_app.appid}}").on("change", function () {
  interviewer{{job_app.appid}} = $("#interviewer{{job_app.appid}}").val();
    console.log(interviewer{{job_app.appid}});
    subject{{ job_app.appid }} = `Interview on ${date{{job_app.appid}}} at ${time{{job_app.appid}}} with ${interviewer{{job_app.appid}}}`;
    let message{{ job_app.appid }} = 
`${interviewer{{job_app.appid}}} invited you for Interview

When : 
${date{{job_app.appid}}} at ${time{{job_app.appid}}}

Location : 
${locationvalue{{ job_app.appid }}}

Interviewer : 
${interviewer{{ job_app.appid }}}
`;

    $("#emailsubjectvalue{{job_app.appid}}").val(subject{{ job_app.appid }});
    $("#emailmessagevalue{{job_app.appid}}").val(message{{ job_app.appid }});


});


$("#timepicker{{job_app.appid}}").on("change", function () {
  time{{ job_app.appid }} = $("#timepicker{{job_app.appid}}").val();
    console.log(time{{ job_app.appid }});
    subject{{ job_app.appid }} = `Interview on ${date{{job_app.appid}}} at ${time{{job_app.appid}}} with ${interviewer{{job_app.appid}}}`;
    let message{{ job_app.appid }} = 
`${interviewer{{job_app.appid}}} invited you for Interview

When : 
${date{{job_app.appid}}} at ${time{{job_app.appid}}}

Location : 
${locationvalue{{ job_app.appid }}}

Interviewer : 
${interviewer{{ job_app.appid }}}
`;

    $("#emailsubjectvalue{{job_app.appid}}").val(subject{{ job_app.appid }});
    $("#emailmessagevalue{{job_app.appid}}").val(message{{ job_app.appid }});


});
$("#locationvalue{{job_app.appid}}").on("change", function () {
  locationvalue{{ job_app.appid }} = $("#locationvalue{{job_app.appid}}").val();
    console.log(time{{ job_app.appid }});
    subject{{ job_app.appid }} = `Interview on ${date{{job_app.appid}}} at ${time{{job_app.appid}}} with ${interviewer{{job_app.appid}}}`;
    let message{{ job_app.appid }} = 
`${interviewer{{job_app.appid}}} invited you for Interview

When : 
${date{{job_app.appid}}} at ${time{{job_app.appid}}}

Location : 
${locationvalue{{ job_app.appid }}}

Interviewer : 
${interviewer{{ job_app.appid }}}
`;

    $("#emailsubjectvalue{{job_app.appid}}").val(subject{{ job_app.appid }});
    $("#emailmessagevalue{{job_app.appid}}").val(message{{ job_app.appid }});


});
$("#interviewDuration{{job_app.appid}}").on("change", function () {
 interviewDuration{{ job_app.appid }} = $("#interviewDuration{{job_app.appid}}").val();
    console.log(interviewDuration{{ job_app.appid }});
    subject{{ job_app.appid }} = `Interview on ${date{{job_app.appid}}} at ${time{{job_app.appid}}} with ${interviewer{{job_app.appid}}}`;
    let message{{ job_app.appid }} = 
`${interviewer{{job_app.appid}}} invited you for Interview

When : 
${date{{job_app.appid}}} at ${time{{job_app.appid}}}

Location : 
${locationvalue{{ job_app.appid }}}

Interviewer : 
${interviewer{{ job_app.appid }}}
`;
    $("#emailsubjectvalue{{job_app.appid}}").val(subject{{ job_app.appid }});
    $("#emailmessagevalue{{job_app.appid}}").val(message{{ job_app.appid }});


});


</script>

<script>
function sendMail{{job_app.appid}}() {

  console.log($("#emailtovalue{{job_app.appid}}").val());
  console.log($("#emailsubjectvalue{{job_app.appid}}").val());
  console.log($("#emailmessagevalue{{job_app.appid}}").val());
}
</script>