{% extends "candidate/base.html" %}
{% block title %}AMP Tech | Jobs{% endblock title %}
{% load static %}
{% block additionalCSS %}

{% endblock additionalCSS%}

{% block content %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
<div class="container" id="startDiv">
    <div class="row">
    <div class="col-12 text-center">
        <h3>{{job.post}}</h3>
        <h6 id="msg">Click "START" whenever you are ready.</h6>
    </div>
    <div class="col-12 text-center" style="padding:8px">
        <button type="button" name="button" class="btn btn-info" onclick="startEverything()">Start Interview</button>
    </div>
    <div class="container" style="padding:10px;">
        <div class="card-body shadow-cus" style="background:#eeeeee;">
            <p>Please read the following Instruction carefully.</p>
            <ul class="list-group">
                <li class="list-group-item">PLEASE DO NOT CLOSE THIS WINDOW.</li>
                <li class="list-group-item">You'll be given 60secs for answering each question.</li>
                <li class="list-group-item">A rest period of 10 secs will be given after each question.</li>
                <li class="list-group-item">Do not close/reload the window in between the interview.</li>
                <li class="list-group-item">You have to attemp all the questions.</li>
                <li class="list-group-item">You cannot pause the interview in between.</li>
                <li class="list-group-item">Strict action will be taken if any abusive or offensive language is used.</li>
            </ul>
        </div>
    </div>
        </div>
</div>
<div id="interviewDiv" style="display:none">
    <div class="row" id="quesandvid" style="padding-top:20px;">
        
            
                <div class="col-12 text-center" id="questionSpan">

                </div>
            <div style="margin-top:15px;padding-left:450px;"> 
                <div class="col-12"  id="playerDiv"  >
                    <center><video id="player" autoplay controls playsinline height="480" width="100%"></video></center>
                </div>
                <div class="col-12 text-center mb-3" style="padding-left:200px;">
                    <p id="minfo"></p>
                    <p id="timer"></p>
                </div>
            </div>
        

            <div class="row" >

            </div>

            

                <div class="col-12  text-center mb-3">
                    <button type="button" name="button" id="btn-stop-recording" class="btn btn-sm btn-danger shadow-cus" disabled>Stop</button>
                </div>
                <div class="col-12 text-center mb-3">
                    <button type="button" class="btn btn-primary shadow-cus" name="button" id="loadNext" onclick="addVideo(event);">Next</button>
                </div>
            

    </div>
    <div class="row" id="submitButtonDiv" style="display:none">
        <div class="container col-12" style="padding:10px;">
            <div class="card-body shadow-cus" style="background:#eeeeee;">
                <p>Thank You for Applying.</p>
                <ul class="list-group">
                    <li class="list-group-item">PLEASE DO NOT CLOSE THIS WINDOW.</li>
                    <li class="list-group-item">Your Application will be soon reviewed.</li>
                    <li class="list-group-item">You can practice giving mock interviews.</li>
                    <li class="list-group-item">You can choose interview packs based on their difficulty level.</li>
                    <li class="list-group-item">You can search Jobs in the job sections.</li>
                    <li class="list-group-item">Apply on more and more jobs.</li>
                </ul>
            </div>
        </div>
        <div class="col-12 text-center" >
            <button onclick="submitInterview(event)" id="submitButton" type="button" name="button" class="btn btn-success shadow-cus">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Submitting
            </button>
        </div>
        <div class="col 12 text-center">
            <small class="muted">Sending interview to a mentor . Please donot reload this window, You'll be automayically redirected.</small>
        </div>
    </div>
</div>
{% endblock content %}

{% block additionalJS %}

<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    };
    function updateTimer(timeleft){
        var timeleftTime = setInterval(function(){
      	timeleft--;
        $('#timer').html(timeleft);
      	if(timeleft <= 0)
          clearInterval(timeleftTime);
      	},1000);
    };
</script>

<script>

var i = {{startFrom}};
var qi = 0;
var id = "";
ids = [{% for x in questions%}'{{x.id}}',{% endfor %}];
qu = [{% for x in questions%}'{{x.question}}',{% endfor%}];


async function loadQuestions(){

    $('#loadNext').attr("disabled", true);

    if (i < qu.length){
        qi = i+1;
        id = ids[i];
        $('#playerDiv').slideUp();
        $('#questionSpan').html("<h5>"+qi+"."+qu[i]+"</h5>");
        $('#minfo').html("<h4>Read the Question</h4>");
        updateTimer(30);
        await sleep(30*1000);
        $('#timer').html("");
        $('#playerDiv').slideDown();
        startRecordingFun();
        i++;
    } else {
        finalize();
    }
}

async function finalize() {
        $('#quesandvid').slideUp("slow");
        // stopRecording();
        $('#submitButtonDiv').slideDown();
        $("#submitButton").click();
        $("#submitButton").attr("disabled", true);
    }
</script>

<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script>
function startEverything() {
    $('#startDiv').slideUp();
    $('#interviewDiv').slideDown();
    loadQuestions();
}
</script>

<script>

        var video = document.querySelector('video');
        function captureCamera(callback) {
            navigator.mediaDevices.getUserMedia({ audio: true, video: true }).then(function(camera) {
                callback(camera);
            }).catch(function(error) {
                alert('Unable to capture your camera.');
                console.error(error);
            });
        }
        function stopRecordingCallback() {
            video.src = video.srcObject = null;
            video.muted = true;
            video.volume = 0;
            video.src = URL.createObjectURL(recorder.getBlob());
            // console.log("call back called now");
            fireBaseUpload(recorder.getBlob());
            recorder.camera.stop();
        }
        var recorder; // globally accessible
        function startRecordingFun() {
            captureCamera(function(camera) {
                video.muted = true;
                video.volume = 0;
                video.srcObject = camera;
                recorder = RecordRTC(camera, {
                    type: 'video'
                });

                var recordingDuration = 60*1000;
                recorder.setRecordingDuration(recordingDuration).onRecordingStopped(stopRecordingCallback);

                recorder.startRecording();
                // release camera on stopRecording
                recorder.camera = camera;
                document.getElementById('btn-stop-recording').disabled = false;
                $('#minfo').html("<h4>Recording...</h4>");
                //$('#minfo').css('padding-left':'-200px');
            });
        };

        document.getElementById('btn-stop-recording').onclick = function() {
            this.disabled = true;
            recorder.stopRecording(stopRecordingCallback);
            $('#minfo').html("<h4>Stopped</h4>");

        };

</script>

<script>
    //refresh logic for avoiding resubmissions

    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    //Main ajax calls
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
            }
        }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
    }

    var links = "";

    function addVideoUrl(url) {
        links = url;
        // console.log(links);
    }

    function addVideo(event) {
        $('#submitButton').disabled = true;
        $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            $('#wait').show();
        }
        });
        data = {
            'job' : '{{jobId}}',
            'type' : 'addVideo',
            'ids' : ids[i-1],
            'video_link' : links ,
            }
        event.preventDefault();
        $.ajax({
            url: `{% url 'addApplication' %}`,
            type: 'POST',
            dataType: "json",
            data: data,
            success: function (data) {
                loadQuestions();
            },
            complete: function() {
                $('#wait').hide();
             },
        });
    };
    function submitInterview(event) {
        $('#submitButton').disabled = true;
        $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            $('#wait').show();
        }
        });
        data = {
            'job' : '{{jobId}}',
            'type' : 'final',
            }
        event.preventDefault();
        $.ajax({
            url: `{% url 'addApplication' %}`,
            type: 'POST',
            dataType: "json",
            data: data,
            success: function (data) {
                window.location.href = "{% url 'applications' %}";
            },
            complete: function() {
                $('#wait').hide();
             },
        });
    }
</script>


<!-- Firebase -->
<script defer src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/6.3.0/firebase-storage.js"></script>
<script defer src="{% static 'candidate/js/init-firebase.js' %}"></script>
<!-- firebase logic -->
<script>
    function fireBaseUpload(file) {
        if (file) {
            var storageRef = firebase.storage().ref();
            var videoResume = storageRef.child('jobInterviews/{{jobId}}/{{request.session.email}}/'+id);
            var uploadTask = videoResume.put(file);
            uploadTask.on('state_changed', function(snapshot){
              // Observe state change events such as progress, pause, and resume
              // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
              var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
              // console.log('Upload is ' + progress + '% done');
              $('#minfo').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><h5>Uploading ' + progress + '% </h5>');
              switch (snapshot.state) {
                case firebase.storage.TaskState.PAUSED: // or 'paused'
                  console.log('Upload is paused');
                  $('#minfo').html('<h5>Upload is paused</h5>');
                  break;
                case firebase.storage.TaskState.RUNNING: // or 'running'
                  console.log('Upload is running');
                  break;
              }
            }, function(error) {
              // Handle unsuccessful uploads
            }, function() {
              // Handle successful uploads on complete
              // For instance, get the download URL: https://firebasestorage.googleapis.com/...
              uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                // console.log('File available at', downloadURL);
                addVideoUrl(downloadURL);
                $('#minfo').html('<h5>Uploaded</h5>');
                $('#loadNext').attr("disabled", false);
              });
            });
        } else {
            console.log("File not saved properly");
        }
    }
</script>
{% endblock additionalJS%}
