{% extends "maintainer/mbase.html" %}
{% block title %}AMP Tech | Dashboard{% endblock title %}
{% block content %}
        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-industry"></i>
                </div>
                <h3 style="text-align:center;">Companies</h3>
                <div class="mr-5" style="text-align:center;" ><b>{{total_companies}}</b></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-users"></i>
                </div>
                <h3 style="text-align:center;">Candidates</h3>
                <div class="mr-5" style="text-align:center;"><b>{{total_candidates}}</b></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-dark o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-tasks"></i>
                </div>
                <h3 style="text-align:center;">Jobs Posted</h3>
                <div class="mr-5" style="text-align:center;"><b>{{total_jobs_posted}}</b></div>
              </div>
            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-info o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-envelope"></i>
                </div>
                <h3 style="text-align:center;">Applications</h3>
                <div class="mr-5" style="text-align:center;"><b>{{total_applied_candidates}}</b></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-check"></i>
                </div>
                <h3 style="text-align:center;">Hired</h3>
                <div class="mr-5" style="text-align:center;"><b>{{total_accepted_candidates}}</b></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-window-close"></i>
                </div>
                <h3 style="text-align:center;">Rejected</h3>
                <div class="mr-5" style="text-align:center;"><b>{{total_rejected_candidates}}</b></div>
              </div>
            </div>
          </div>

        </div>

{% endblock content %}